html, body {
    padding-right: 16px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
  
.hidden {
    display: none;
}

.header {
    border-bottom: solid #999999 1px;
}

.title {
    width: 60%;
    display: inline-block;
}

.options {
    float: right;
    background-color: white;
    border: solid 1px #999999;
    border-radius: 2px;
}

.options:hover {
    background-color: #999999;
}
  
.button {
    padding: 6px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}
  
.add:hover {
    background-color: #bbbbbb;
}
  
.add {
    background-color: #999999;
}

.issues {
    width: 780px;
}
  
.new-issue {
    padding: 6px 17px;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    border: solid #999999 1px;;
}

.delete {
    float: left;
    color: #d70022;
    background-color: #ffffff;
    border: solid 1px #999999;
    border-radius: 3px;
}

.delete:hover {
    color: #ffffff;
    background-color: #d70022;
}

.issueID {    
    width: 140px;
}


.done {    
    color: green;
}
